<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" packages="com.github.omkreddy.log4j2.appender">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<Kafka name="KAFKALOGGER1" topic="TEST-TOPIC" enable="true">
			<Property name="bootstrap.servers">localhost:9091</Property>
		</Kafka>
	</Appenders>

	<Loggers>
	    <Logger name="org.apache.kafka" level="INFO">
			<AppenderRef ref="console"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="KAFKALOGGER1" />
		</Root>
	</Loggers>
</Configuration>
